#modal input {
  display:inline-block;
  margin-left:10px;
}

#modal input.rm {
  width:250px;
}

#modal label.kanan {
  margin-left:20px;
}

.jarak {
  margin-left:4px;
}

#modal input.rtw {
  width:70px;
}

#modal .modal-body .col {
  margin-top:7px;
}

#modal-1 {
  overflow-y:initial;
}

#modal{
  overflow: hidden;
}


#modal input, #modal select{
  background-color:#cbf0ff;
}


#modal label, #modal button {
  font-size:20px;
  color:#885c98;
  font-family:'Alice';
}

.modal-title {
  color:#885c98;
  font-family:'Alice';
  font-size:35px;
}

.modal-body {
  background-color:#9efbda;
  height: 800px;
}

#modal form {
  margin-bottom: 0px;
}

body{
  background-color:whitesmoke;
}

.container {
  width: 80%;
  padding-top: 150px;

}

td {
 width: 1px ;
 white-space: nowrap;
}

#tubah, #tombol{
  display: none;
}