#modal input {
  display:inline-block;
  margin-left:10px;
}

#modal input.rm {
  width:250px;
}

#modal label.kanan {
  margin-left:20px;
}

.jarak {
  margin-left:4px;
}

#modal input.rtw {
  width:70px;
}

#modal .modal-body .col {
  margin-top:7px;
}

#modal{
  height: 80%
}


#modal input, #modal select{
  background-color:#cbf0ff;
}


#modal label, #modal button {
  font-size:20px;
  font-family:'Alice';
}

.modal-title {
  font-family:'Alice';
  font-size:35px;
}

.modal-body {

}

#modal form {
  margin-bottom: 0px;
}

body{
  background-color:whitesmoke;
}

.container {
  width: 80%;
  padding-top: 150px;
}

thead, td {
 width: 1px ;
 white-space: nowrap;
}

#tubah, #tombol, .bersih{
  display: none;
}

.table-responsive{
  height: 300px;
}

containertable{
  height: 400;
}